<div class="container fluid">
  <div class="row" >
    <div class ="col-xs-12 text-center">
      <i class="play icon-tem_play big"></i>
      <i class="pause icon-tem_pause big hide"></i>
    </div>
  </div>
  <div class="row chapter" >
    <div class ="col-xs-2 col-xs-offset-5 text-center chapter-start">
      </div>
  </div>
  <%
  var chapters = public.paths._data[current.source].cues;
  for(var i=0; i<chapters.length; i++) {%>

    <%if (i%2 == 0) { %>
      <div class="row chapter" >
        <div class ="col-xs-5 text-right">
          <span class="chapterTitle"  id="chapter<%=i%>"><%= chapters[i].title %></span>
        </div>
        <div class ="col-xs-2 text-center chapter-mark">
        </div>
      </div>

      <% } else{ %>
        <div class="row chapter" >
          <div class ="col-xs-2 col-xs-offset-5 chapter-mark">
          </div>
          <div class ="col-xs-5 text-left">
            <span class="chapterTitle"  id="chapter<%=i%>"><%= chapters[i].title %></span>
          </div>
        </div>
        <% } %>
        <% } %>
        <div class="row chapter" style="margin-bottom: 100px;" >
          <div class ="col-xs-2 col-xs-offset-5 chapter-end">
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-xs-4 text-center">
              <i class="rewind icon-tem_rewind"></i>
            </div>
            <div class="col-xs-4 text-center">
              <i class="play icon-tem_play"></i>
              <i class="pause icon-tem_pause hide"></i>
            </div>
            <div class="col-xs-4 text-center">
              <span class="timer" id="currentCue">0:00</span>
            </div>
            <div class ="col-xs-12 text-center">
              <audio id="audioElt" preload="auto">
                <source id="mp3_src" src="<%= public.paths._data[current.source].audiourl %>" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </nav>

        <script type="text/javascript">
        var pathData = <%- JSON.stringify(public.paths._data[current.source]) %>;
        </script>
        <script type="text/javascript" src="/assets/popcorn.min.js"></script>
        <script type="text/javascript" src="/assets/path.js"></script>
